body {
    color: lightyellow;
    background-color: cornflowerblue;
    background-image: url(https://images.unsplash.com/photo-1514939775307-d44e7f10cabd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

h1, h2, h3, h4 {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: fit-content;
}

form, input {
    text-align: center;
    width: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
}

