body {
    background-color: cornflowerblue;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    width: fit-content;
}

form, input {
    text-align: center;
    width: fit-content;
    border: 1px solid black;
    box-sizing: border-box;
}

